<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 項目自定义Realm
    <bean id="shiroDbRealm" class="com.dz.shiro.ShiroDbRealm" />
    -->
    <context:component-scan base-package="com.dz.shiro"/>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--安全管理器-->
        <property name="realm" ref="shiroDbRealm" />
        <property name="cacheManager" ref="cacheManager" />
    </bean>

    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <!-- 会话管理器
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        &lt;!&ndash; session的失效时长，单位毫秒 &ndash;&gt;
        <property name="globalSessionTimeout" value="600000"/>
        &lt;!&ndash; 删除失效的session &ndash;&gt;
        <property name="deleteInvalidSessions" value="true"/>

        &lt;!&ndash;去掉URL中的JSESSIONID&ndash;&gt;
        <property name="sessionIdUrlRewritingEnabled" value="false" />

        &lt;!&ndash; 定时检查失效的session &ndash;&gt;
        <property name="sessionValidationSchedulerEnabled" value="true" />
    </bean>
-->
    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/admin/index" /><!--去登录页的url-->
        <property name="successUrl" value="owe/owe-data" /><!--登录成功之后的url-->
        <property name="unauthorizedUrl" value="/admin/403" /><!--没有权限的请求跳转/403-->
        <property name="filterChainDefinitions">
            <value>
                /admin/index= anon
                /admin/login= anon<!--去登录时放行-->
                /admin/code= anon
                /adduser = perms[adduser]<!--请求的url 是 /adduser 当前的登录者要具有adduser的权限-->
                /deleteuser = perms[deleteuser]<!--请求的url 是 /adduser 当前的登录者要具有adduser的权限-->
                /edituser = perms[edituser]<!--请求的url 是 /adduser 当前的登录者要具有adduser的权限-->
                /assets/**=anon <!--static 静态资源放行-->
                /** = authc<!--所有的请求都要经过认证-->
                /* = anon
            </value>
        </property>
    </bean>

</beans>